{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div style="background-image: linear-gradient(to bottom,rgba(244, 244, 244, 0.75) 0%,rgba(244, 244, 244, 0.75) 100%), url('/static/images/archives.png');">
<div class="container-fluid sc-gold-bg py-1">
    <p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a>  <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> Archives</p>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="sc-gold black-outline">Welcome to the Archives</h2>
  <p><strong>Explore historical write-ups and thought provoking articles, still relevant over 10 years later</strong></p>
  <p><strong>If you have any questions about something you find here, just reach out to us!</strong></p>
  <a class="btn btn-primary mb-4" href="{% url 'contact' %}">Contact Us</a>
  <br>
		<div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header sc-blue-bg" id="heading1">
                        <button class="btn btn-link btn-block collasped nounderline" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                          <h4 class="mb-1 accordian-headers">Archived Newsletters</h4>
                        </button>
                    </div>

                    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
                      <div class="card-body">
                      	<div class='table-responsive'>
                        <table class="table table-sm">
                          <thead>
                            <th scope="col">Name</th>
                            <th scope="col">Summary</th>
                            <th scope="col">View Document</th>
						  	<th scope="col">Download</th>
                          </thead>
                          <tbody>

						  {% for newsletter in newsletters %}
                          <tr>
                            <td><strong>{{newsletter.title}}</strong></td>
                            <td class="small text-left">{{newsletter.brief_summary}}</td>
                            <td><a href="{% url 'archive_details' 'newsletter' newsletter.id  %}" class="btn btn-primary">Click to View</a></td>
                            <td><a href="{{ newsletter.file.url }}" class="btn btn-primary" target="_blank">Click to Download</a></td>
                          </tr>
						  {% endfor %}
                          </tbody>
                        </table>
		</div>
                    </div>
                  </div>
                </div>

                <div class="card">
                    <div class="card-header sc-blue-bg" id="heading2">
                        <button class="btn btn-link btn-block collasped nounderline" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          <h4 class="mb-1 accordian-headers">Archived Documents</h4>
                        </button>
                    </div>

                    <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordionExample">
                      <div class="card-body">
						  <div class='table-responsive'>
                        <table class="table table-sm">
                          <thead>
                            <th scope="col">Name</th>
                            <th scope="col">Summary</th>
                            <th scope="col">View Document</th>
						  	<th scope="col">Download</th>
                          </thead>
                          <tbody>

						  {% for doc in archived_files %}
                          <tr>
                              <td><strong>{{doc.title}}</strong></td>
                            <td>{{doc.brief_summary}}</td>
                              {% if '.pdf' in doc.file.url %}
                            <td><a href="{% url 'archive_details' 'document' doc.id  %}" class="btn btn-primary">Click to View</a></td>
                              {% else %}
                              <td>n/a</td>
                              {% endif %}
                            <td><a href="{{ doc.file.url }}" class="btn btn-primary" target="_blank">Click to Download</a></td>
                          </tr>
						  {% endfor %}
                          </tbody>
                        </table>
					</div>
                    </div>
                  </div>
                </div>
    </div>
  </div>
  </div>
</div>

<br>
<br>
<div class="row row-no-margins text-center">
    <div class="col-lg-12">
      <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" width="20%">
      <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" width="20%">
      <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" width="20%">
      <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" width="20%">
    </div>
  </div>
</div>
{% endblock %}