{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<h1 class="text-center pt-3">News</h1>
	<hr class="mb-0"/>
	<p class="small my-1"><a href="{% url 'home' %}">Home</a>  <img src="{% static 'images/coffee_bean_outline_light_gray.png' %}" class="breadcrumb-bean" />  News</p>
	<hr class="mt-0"/>
	<h5 class="gold-text text-center"> Coffee never sleeps! Read up on what's happening at San Cristobal and the industry. </h5>
	          <div class="row">
              <div class="col-lg-12">
                <div class="text-center" width="80%">
                <h4 class="dark-text py-3">Our latest news article</h4>
                  {% for blog in blogs|slice:"0:1" %}
                  <style>
                      .latest-article-background{
                       background-attachment: local;
                       background-size: cover;
                       background-position: center;
                       background-image: linear-gradient(to bottom,rgba(244, 244, 244, 0.80) 0%,rgba(244, 244, 244, 0.80) 100%), url('{{blog.image.url}}');
                       justify-content:center;
                       align-items:center;
                       display:flex;
                      
                      }
                      </style>
                  <div class="card mx-auto latest-article-background shadow-lg d-block" style="max-width:65%; height:300px;">
                    <!-- <img class="card-img-top blog-thumbnail d-block" src="{{blog.image.url}}" alt="Card image cap" /> -->
                      <div class="card-body">
                        <h2 class="card-title" style="font-size: 5vh;"><a href="{% url 'post_details' blog.id %}"> {{ blog.title }}</a></h2>
                        <h3 class="card-text" style="font-size:3vh;"> {{ blog.summary }}</h3>
                        <p>Posted on: </p><small class="text-muted">{{blog.created_on}} </small><a href="{% url 'post_details' blog.id %}" class="badge badge-secondary">Read More</a>
                      </div>
                  </div>
                </div>
                  {% endfor %}
                  
              </div>
              <div class="col-lg-12 text-center">
                <h4 class="dark-text py-3">Past news articles</h4>
              </div>
              <div class="col-lg-12 text-center">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for blog in blogs|slice:"1:" %}
                        <div class="swiper-slide card d-block">
                            <div class="card-body">
                              <h5 class="card-title"><a href="{% url 'post_details' blog.id %}"> {{ blog.title }}</a></h5>
                              <p class="card-text"> {{ blog.summary }}</p>
                              <p class="text-muted small">{{blog.created_on}}  <a href="{% url 'post_details' blog.id %}" class="badge badge-secondary">Read More</a></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
                </div>
              </div>
              <br>
</div>
        
          <div class="row row-no-margins">
              <div class="col-lg-12 dark-background py-4">
                <img src="{% static 'images/cereza_6_cropped.jpg' %}" style="width:100%"/>
              </div>
          </div>
        <div class="container">
          <div clasa="row">
            <div class="col-lg-12 text-center">
                <h1 class="dark-text py-3"><a href="https://www.instagram.com/sancristocafe/"><i class="fa fa-instagram" aria-hidden="true"></i> Connect with us on Instagram!  <i class="fa fa-instagram" aria-hidden="true"></i></h1></a>
            </div>
            <div class="col-lg-12 text-center">
              <!-- LightWidget WIDGET -->
              <!-- LightWidget WIDGET -->
              <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
              <iframe src="//lightwidget.com/widgets/018a30ff6d9150eb918979dfb0a75622.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
            </div>
            <div class="btn-group d-flex" role="group">
                <a href="{% url 'archives' %}" class="btn btn-primary w-100">Check out the archives</a>
            </div>
          </div>
        </div>        
<br>
<br>
{% endblock %}