{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<h1 class="text-center pt-3">News</h1>
	<hr />
	<p><a href="{% url 'home' %}">Home</a>  <img src="{% static 'images/coffee_bean_outline_light_gray.png' %}" class="breadcrumb-bean" />  News</p>
	<hr />
	<h5 class="text-muted text-center"> Coffee never sleeps! Read up on what's happening at San Cristobal and the industry. </h5>
    <p class="text-muted"></p>
            <div class="btn-group d-flex" role="group">
                <a href="{% url 'source-work' %}" class="btn btn-primary w-100">See our latest Newsletter</a>
            </div>
    <br>
	          <div class="row">
                {% for blog in blogs %}
                <div class="col-lg-6 pt-2 card-group">
                  <div class="card">
                    <img class="card-img-top blog-thumbnail" src="{{blog.image.url}}" alt="Card image cap" />
                      <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'post_details' blog.id %}"> {{ blog.title }}</a></h5>
                        <p class="card-text"> {{ blog.summary }}</p>
                      </div>
                    <div class="card-footer blog-button">
                      <small class="text-muted">{{blog.created_on}}</small><a href="{% url 'post_details' blog.id %}" class="badge badge-secondary">Read More</a>
                    </div>
                  </div>
              </div>
                  {% endfor %}
          </div>
          <div class="row">
            <br />
          </div>


            <div class="btn-group d-flex" role="group">
                <a href="{% url 'archives' %}" class="btn btn-primary w-100">Check out the archives</a>
            </div>
</div>
<br>
<br>
{% endblock %}