{% extends 'coffee/base.html' %}

{% block content %}
<div class="container">
	<h1 class="text-center pt-5">News/Blog from San Cristobal</h1>
	<br />
	<br />
	<h2>Latest Posts</h2>
	<hr />
	          <div class="row">
            {% for blog in blogs %}
            <div class="col-sm-6 pt-2">
              <div class="card">
                <img class="card-img-top blog-thumbnail" src="{{blog.image.url}}" alt="Card image cap" />
                  <div class="card-body">
                    <h5 class="card-title"> {{ blog.title }}</h5>
                    <p class="card-text"> {{ blog.summary }}</p>
                  </div>
                <div class="card-footer">
                  <small class="text-muted">{{blog.created_on}}</small>
                </div>
              </div>
          </div>
              {% endfor %}
          </div>
</div>

{% endblock %}