{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}

<style>
    .blog-background-photo {
        background-image:url('{{ blog.image.url }}');
    }

    .archives-background-photo {
        background-image:url('{% static "images/archives.png" %}');
    }

    .newsletter-background-photo {
        background-image:url('{% static "images/coffee_plantation.jpg" %}');
    }
</style>
<div class="container-fluid sc-gold-bg py-1 mb-2">
    <p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}"
            class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a> <img
            src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> News</p>
</div>
<div class="container">
    <h1 class="text-center sc-gold black-outline">Learn more about what we do</h1>
    <div class="row row-no-margins align-items-top">
        <div class="col-md-6 d-flex">
            <div class="card text-center card-hover p-3 mb-5 rounded">
                <div class="square align-items-center shadow-lg blog-thumbnail rounded newsletter-background-photo">
                    <div class="image-overlay text-center open-sans-text">
                        <p class="font-weight-bold mb-0 mt-3">latest newsletter:</p>
                        <h5 class="font-weight-bold black-outline mb-0"><a
                                href="{% url 'newsletter' %}">{{newsletter.title}}</a></h5>
                        <p class="small font-weight-bold">{{newsletter.vintage}}</p>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title py-3"><a href="{% url 'newsletter' %}" class="text-dark">Newsletter</a></h3>
                    <p class="card-text">View the monthly newsletters coming from the source.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <div class="card text-center card-hover p-3 mb-5 rounded">
                <div class="square align-items-center shadow-lg blog-thumbnail archives-background-photo rounded">
                    <div class="image-overlay text-center open-sans-text">
                        <p class="font-weight-bold mb-0 mt-3">visit the archives:</p>
                        <h5 class="font-weight-bold black-outline mb-0"><a href="{% url 'archives' %}">Archived
                                documents and newsletters</a></h5>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title py-3"><a href="{% url 'archives' %}" class="text-dark">Archives</a></h3>
                    <p class="card-text">Explore historical write-ups still relevant 20 years later.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-no-margins">
    <img src="{% static 'images/cereza_6_cropped.jpg' %}" style="width:100%" />
</div>
<div class="container">
    <div clasa="row">
        <div class="col-lg-12 text-center">
            <h1 class="dark-text py-3"><a href="https://www.instagram.com/sancristocafe/"><i class="fa fa-instagram"
                        aria-hidden="true"></i> Connect with us on Instagram! <i class="fa fa-instagram"
                        aria-hidden="true"></i></h1></a>
        </div>
        <div class="col-lg-12 text-center">
            <!-- LightWidget WIDGET -->
            <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
                src="https://cdn.lightwidget.com/widgets/018a30ff6d9150eb918979dfb0a75622.html" scrolling="no"
                allowtransparency="true" class="lightwidget-widget"
                style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
    </div>
</div>
<br>
{% endblock %}