{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
		<h1 class="text-center pt-3">News</h1>
		<hr class="mb-0"/>
		<p class="small my-1"><a href="{% url 'home' %}"">Home</a>  <img src="{% static 'images/coffee_bean_outline_light_gray.png' %}" class="breadcrumb-bean" />  <a href="{% url 'news' %}"">News</a>  <img src="{% static 'images/coffee_bean_outline_light_gray.png' %}" class="breadcrumb-bean" />  {{ post_detail.title }}</p>
		<hr class="mt-0"/>
		<div class="static-font">
		<h5 class="text-center py-3">{{post_detail.summary}}</h5>
		<img src="{{post_detail.image.url}}" class="blog-detail-img responsive-img w-100"/>
		<p class='static-font py-3'> {{post_detail.content | safe}}</p>
		<hr />
		<small class="text-muted"><strong>Posted on:</strong> {{post_detail.created_on}}</small>
			</div>
</div>
<br>
<br>
{% endblock %}