{% extends 'coffee/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid sc-gold-bg py-1 mb-3">
    <p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc_icon_leaf.png' %}" class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a>  <img src="{% static 'images/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> About Us</p>
</div>

<div class="container">
  
  <div class="row align-items-center">
    <div class="col-lg-2 text-center">
      <img src="{% static 'images/sc_oval_turquoise_gold.png' %}" class="img-fluid w-100">
    </div>
    <div class="col-lg-10 text-left">
      <h3 class="mb-1 font-weight-bold">San Cristobal Coffee Importers</h3>
      <p class="text-muted">
        has been involved in coffee production since 1993 and was incorporated in 1996 to provide international market
        access
        for small holder coffee farmers in Nayarit, Mexico.
        The mission at San Cristobal Coffee Importers is to promote equity into the supply chain so producers can
        address issues
        of sustainability and environmental stewardship if their countries. The roasters we work with are the pinnacle
        of the
        supply chain are are in a position to drastically improve the lives of farmers. We serve as that conduit between
        both
        parties so all can flourish and be successful.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 py-4">
      <h2 class="text-center text-weight-bold"> - Our Team - </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 text-center pb-5">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="gold-text font-weight-bold">Jim Kosalos</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 py-2">
          <img class="rounded-circle" src="{% static 'images/about_jim.jpg' %}" alt="Jim" width="80%" height="300px"
            style="object-fit:cover;">
        </div>
        <div class="col-lg-12">
          <p class="text-justify">
            <strong>James Kosalos</strong>, <em class="gold-text">President of San Cristobal Coffee Importers</em> and majority partner in Cafés Sustentables de
            México, is a geophysicist from Wisconsin who has been using his scientific background to help Mexican coffee
            producers. He is a member of the Specialty Coffee Association of America's Technical Standards committee and
            an SCAA certified Cupping Judge who has introduced SCAA/CQI quality standards to small producers in Nayarit,
            Mexico.
          </p>
          <p class="text-muted small">
              <strong>Fun Fact:</strong>  James Kosalos developed the sonar imaging system that found the Titanic.
          </p>
          <a href="mailto:jamesk@sancristocafe.com" class="badge badge-secondary">Connect with James</a>
        </div>
      </div>   
    </div>
    <div class="col-lg-4 text-center pb-5">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="gold-text font-weight-bold">Devorah Zeitlin</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 py-2">
          <img class="rounded-circle" src="{% static 'images/about_dev.jpg' %}" alt="Dev" width="80%" height="300px"
            style="object-fit:cover;">
        </div>
        <div class="col-lg-12">
          <p class="text-justify">
            <strong>Devorah Zeitlin</strong>, <em class="gold-text">Vice-President of San Cristobal Coffee Importers</em>, is a native of Brooklyn who received a
            degree in public health from Tulane University in Louisiana. Her Peace Corps assignment took her to Nepal
            where she worked with farmers under the auspices of the Nepali Department of Agriculture. She worked in
            Washington, DC, to help develop Environmental Protection Agency (EPA) hazardous waste regulations before
            moving to Seattle in the early 1990s.
          </p>
          <p class="text-muted small">
              <strong>Fun Fact:</strong> Devorah Zeitlin successfully sailed from the US all the way to the Marquesas Islands.
          </p>
          <a href="mailto:devz@sancristocafe.com" class="badge badge-secondary">Connect with Devorah</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-center pb-5">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="gold-text font-weight-bold">Kenny Davis</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 py-2">
          <img class="rounded-circle" src="{% static 'images/about_kenny.jpg' %}" alt="Kenny" width="80%" height="300px"
            style="object-fit:cover;">
        </div>
        <div class="col-lg-12">
          <p class="text-justify">
            <strong>Kenneth Davis</strong>, <em class="gold-text">General Manager of San Cristobal Coffee Importers</em>, is a native to the Pacific Northwest. His role at San Cristobal encompasses quality control,
            sales,
            logistics, and millenial translator. He worked for SC immediately after graduating from Oregon State
            University in 2012,
            but took leave from 2014 to 2017 to explore a career in Environmental Consulting. The coffee industry left
            it's mark and
            he rejoined the team at the start of 2018.
          </p>
          <p class="text-muted small">
              <strong>Fun Fact:</strong>  Kenneth Davis spent one year living in a yurt. It snowed a lot that year.           
          </p>
          <a href="mailto:kennyd@sancristocafe.com" class="badge badge-secondary">Connect with Kenneth</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row row-no-margins py-2">
    <div class="col-lg-12 sc-brown-bg py-4">
      <img src="{% static 'images/parchment_patio.jpg' %}" style="width:100%; height: 250px; object-fit: cover;" />
    </div>
  </div>
<br>
<div class="container">
  <div class="row text-center">
  <div class="col-lg-12">
    <h1 class="text-center pb-3"><strong>Interested in learning more?</strong></h1>
    <a href="{% url 'contact' %}" class="btn btn-primary my-2">Visit our Contact Us Page</a>
    </div>
  </div>
  <br><br>
</div>







{% endblock %}