{% extends 'coffee/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid sc-gold-bg py-1 mb-3">
  <p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}"
      class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a> <img
      src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> About Us</p>
</div>

<div class="container">

  <div class="row align-items-center">
    <div class="col-lg-3 text-center">
      <img src="{% static 'images/sc-logos/sc_oval_turquoise_gold.png' %}" class="img-fluid w-100">
    </div>
    <div class="col-lg-9 text-left">
      <h3 class="mb-1 sc-brown font-weight-bold">San Cristobal Coffee Importers</h3>
                 <p class="text-muted">
                  has been involved in coffee production since 1993 and was incorporated in 1996 to
                  provide international market access for small holder coffee farmers in Nayarit, Mexico.
                  The mission at San Cristobal Coffee Importers is to work from the bottom up promoting
                  equity in the supply chain; helping producers earn enough so they are able to address
                  the tough issues of environmental stewardship, gender equity, and ultimately
                  sustainability.
                  </p>
                  <h5 class="mb-0 font-weight-bold sc-brown">We and the roasters we work with</h5>
                  <p class="text-muted">
                    are near the pinnacle of the supply chain and are in a good position to drastically
                    improve the lives of farmers. We serve as a transparent conduit between roasters and
                    growers so they may both develop and flourish.
                 </p>
                 <h5 class="mb-0 font-weight-bold sc-brown">Our strong relationships</h5>
                 <p class="text-muted">
                    with other origin brokers and exporters allow us to supply our customers with any
                    coffee they need, when they need it; from one bag to multiple containers.
                 </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 py-4">
      <h2 class="sc-brown text-center font-weight-bold"> - Our Team - </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center pb-5">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="gold-text font-weight-bold">Jim Kosalos</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 py-2">
          <img class="rounded-circle background-circle-img-ie-fix" src="{% static 'images/about_jim_square.jpg' %}" alt="Jim">
        </div>
        <div class="col-lg-12">
          <p class="text-justify">
            <strong style="font-size:1.2rem">James Kosalos</strong>, <em class="sc-red font-weight-bold">President of San Cristobal Coffee Importers</em> and
            majority partner in Cafés Sustentables de
            México, is a geophysicist from Wisconsin who has been using his scientific background to help Mexican coffee
            producers. He was a long time member of the SCAA’s Technical Standards Committee where he was involved in the initial
            evaluation of Q® grading standards; he became a Q® Instructor and used this to bring international coffee grading
            standards to Nayarit’s coffee producers.
          </p>
          <p class="text-muted small">
            <strong>Fun Fact:</strong> James Kosalos built the sonar that was first used to search for the Titanic and also the one
            used to find the USS Central America.
          </p>
          <a href="mailto:jamesk@sancristocafe.com" class="badge badge-secondary">Connect with James</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 text-center pb-5">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="gold-text font-weight-bold">Devorah Zeitlin</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 py-2">
          <img class="rounded-circle background-circle-img-ie-fix" src="{% static 'images/about_dev_square.jpg' %}" alt="Dev">
        </div>
        <div class="col-lg-12">
          <p class="text-justify">
            <strong style="font-size:1.2rem">Devorah Zeitlin</strong>, <em class="sc-red font-weight-bold">Vice-President of San Cristobal Coffee
              Importers</em>, is a native of Brooklyn who received a
            degree in public health from Tulane University in Louisiana. Her Peace Corps assignment took her to Nepal
            where she worked with farmers under the auspices of the Nepali Department of Agriculture. She worked in
            Washington, DC, to help develop Environmental Protection Agency (EPA) hazardous waste regulations before
            moving to Seattle in the early 1990s.
          </p>
          <p class="text-muted small">
            <strong>Fun Fact:</strong> Devorah Zeitlin sailed from Mexico on a two month trip to French Polynesia, stopping at the
            Marquesas and the Manihi Atoll her the way to Tahiti.
          </p>
          <a href="mailto:devz@sancristocafe.com" class="badge badge-secondary">Connect with Devorah</a>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-lg-6 text-center pb-5">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="gold-text font-weight-bold">Kenny Davis</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 py-2">
          <img class="rounded-circle background-circle-img-ie-fix" src="{% static 'images/about_kenny_square.jpg' %}" alt="Kenny">
        </div>
        <div class="col-lg-12">
          <p class="text-justify">
            <strong style="font-size:1.2rem">Kenneth Davis</strong>, <em class="sc-red font-weight-bold">General Manager of San Cristobal Coffee
              Importers</em>, is a native to the Pacific Northwest. His role at San Cristobal encompasses quality
            control,
            sales,
            logistics, and millenial translator. He worked for SC immediately after graduating from Oregon State
            University in 2012,
            but took leave from 2014 to 2017 to explore a career in Environmental Consulting. The coffee industry left
            it's mark and
            he rejoined the team at the start of 2018.
          </p>
          <p class="text-muted small">
            <strong>Fun Fact:</strong> Kenneth Davis spent one year living in a yurt. It snowed a lot that year.
          </p>
          <a href="mailto:kennethd@sancristocafe.com" class="badge badge-secondary">Connect with Kenneth</a>
        </div>
      </div>
    </div>
  <div class="col-lg-6 text-center pb-5">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="gold-text font-weight-bold">Jacob Frankel</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 py-2">
        <img class="rounded-circle background-circle-img-ie-fix" src="{% static 'images/about_jacob_square.jpg' %}" alt="Jacob">
      </div>
      <div class="col-lg-12">
        <p class="text-justify">
          <strong style="font-size:1.2rem">Jacob Frankel</strong>, <em class="sc-red font-weight-bold">Junior Trader at San
            Cristobal Coffee Importers</em>, is a native of California. He studied International Relations and Political
          Science at Carleton College and has spent considerable time in Latin America. He researched quinoa production
          in the Andes Mountains in Peru. And before joining us in Seattle, he spent a year at the origin in Nayarit,
          Mexico, working with our coffee quality management partner Cafés Sustentables de México.
        </p>
        <p class="text-muted small">
          <strong>Fun Fact:</strong> Jacob’s hobbies include “aquascaping,” or decorating heavily planted freshwater aquariums. 
        </p>
        <a href="mailto:jacobf@sancristocafe.com" class="badge badge-secondary">Connect with Jacob</a>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="row row-no-margins py-2">
  <div class="about-us-parchment-img">
  </div>
</div>
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-lg-12">
      <h1 class="text-center pb-3"><strong>Interested in learning more?</strong></h1>
      <a href="{% url 'contact' %}" class="btn btn-primary my-2">Visit our Contact Us Page</a>
    </div>
  </div>
  <br><br>
</div>







{% endblock %}