{% extends 'coffee/base.html' %}
{% load staticfiles %}
{% block content %}

      <div class="header-of-site">
        <section class="jumbotron text-center">
          <div class="container">
              <img src="{% static 'images/sc-logos/sc_wordmark_white_green.png' %}" class="img-fluid" alt="coffee bean">

              <br>
              <br>

            <div class="downArrow bounce">
              <br>
              <br>
              <a href="#about">
                  <!--<img width="70" height="50" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" /> -->
                  <!-- <img width="70px" height="auto" src="{% static 'images/down_caret.png' %}"> -->
                  <i class="fa fa-2x fa-chevron-down sc-gold black-outline" aria-hidden="true"></i>
                </a>
            </div>
            <!-- <div class="arrow bounce">
              <a class="fa fa-arrow-down fa-2x" href="#about"></a>
            </div> -->
          </div>
        </section>
      </div>

    <!-- end of header home page section -->


    <!-- about us section -->
    <div class="about" id="about">
        <h1 class="text-center sc-gold black-outline"><a href="{% url 'about' %}">About Us</a></h1>
        <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="{% static 'images/sc-logos/sc_leaf_turquoise.png' %}" class="img-fluid" alt="coffee bean">
              </div>
            <div class="col-lg-8 col-md-8 col-sm-12 desc">

              <h3>San Cristobal Coffee Importers</h3>
                 <p>
                     We are a full-service coffee broker and importer specializing in high
                     quality, unique coffees and personal service. We help our roaster customers improve their efficiency
                     by offering the opportunity to outsource their green coffee purchases, inventory management services,
                     and logistics for smooth and trouble-free coffee delivery.
                     Based on quality and sustainability, our strengths are our service and our stable sources of green
                     coffee. We import our own coffee and our strong relationships with other origin brokers and exporters
                     allow us to supply our customers with any coffee they need, when they need it; from one bag to
                     several containers.
                 </p>
                 <p>
                <a href="{% url 'about' %}" class="btn btn-primary my-2">Learn more about us</a>
            </p>
            </div>
          </div>
        </div>
    </div>
    <!-- end of about us section -->
    <div class="row row-no-margins py-2 parchment-break">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center align-items-center pt-4" style="height:50%;" >
              <h2 class="dark-text font-weight-bold"> Track the origin of our coffees using our traceability tool: <br> </h2>
                <div class="form-group">
              <input class="form-control" type="text" id="coffee_id" />
              <a class="form-control btn btn-primary my-2" href="http://trackyourcoffee.com/tracker?entry=" target="_blank" onclick="window.open($(this).attr('href')+$('#coffee_id').val()); return false;">Look up bag tag</a>      
            </div>
              <p class="font-weight-bold sc-brown" >Type in a bag tag # above or click a sample bag tag # below to see how we define traceability:</p>
              <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span><img src="{% static 'images/sc-logos/sc_icon_white_green.png' %}" style="height: 20px;width: auto"> </span>Example bag tags
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="http://www.trackyourcoffee.com/tracker?entry=GTN3702003" target="_blank">GTN3702003</a>
                    <a class="dropdown-item" href="http://www.trackyourcoffee.com/tracker?entry=GTN3702004" target="_blank">GTN3702004</a>
                    <a class="dropdown-item" href="http://www.trackyourcoffee.com/tracker?entry=GTN3702007" target="_blank">GTN3702007</a>
                  </div>
                </div>
                <br>
                <a class="font-weight-bold sc-red" href="http://www.trackyourcoffee.com" target="_blank">For more information visit TrackYourCoffee.com</a> or <a class="btn btn-primary btn-sm" href="{% url 'contact' %}">Contact Us</a>
          </div> 
          <div class="col-lg-12">

          </div>
          </div>
      </div>
        
      </div>
    <!-- blog/new section -->
    <!-- Posts section -->
    <div class="blog">
      <h1 class="text-center sc-gold black-outline">Learn more about what we do</h1>
          <div class="row row-no-margins align-items-top">
            <div class="col-lg-3">

              <div class="card text-center card-hover p-3 mb-5 bg-white rounded">
                  <h3 class="card-title py-3"><a href="{% url 'source-work' %}" class="text-dark">Source Work</a></h3> 
                  <a href="{% url 'source-work' %}"><img class="card-img-top blog-thumbnail" src="{% static 'images/cherry_reception_weighing.jpg' %}" alt="Card image cap" /></a>
                  <div class="card-body">
                    <p class="card-text small">Being vertically integrated keeps us busy! Learn more about our activities at the source in Nayarita, Mexico</p>
                  </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card text-center card-hover p-3 mb-5 bg-white rounded">
                  <h3 class="card-title py-3"><a href="{% url 'traceability' %}" class="text-dark">Traceability</a></h3>
                  <a href="{% url 'traceability' %}"><img class="card-img-top blog-thumbnail" src="{% static 'images/bagtag_traceability.jpg' %}" alt="Card image cap" /></a>
                    <div class="card-body">
                      <p class="card-text small">Where does your coffee come from? Tracking coffee back to it's origin is very important to us. Learn more about how we address traceability.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-center card-hover p-3 mb-5 bg-white rounded">
                    <h3 class="card-title py-3"><a href="{% url 'news' %}" class="text-dark">News</h3></a>
                    <a href="{% url 'news' %}"><img class="card-img-top blog-thumbnail" src="{% static 'images/group_training2.png' %}" alt="Card image cap" /></a>
                      <div class="card-body">
                        <p class="card-text small">We publish monthly newsletters and periodic articles. Find out the latest information on what's happening at San Cristobal Coffee Importers.</p>
                      </div>
                  </div>
          </div>
          <div class="col-lg-3">
            <div class="card text-center card-hover p-3 mb-5 bg-white rounded">
                <h3 class="card-title py-3"><a href="{% url 'coffees' %}" class="text-dark">Our Coffees</h3></a>
                <a href="{% url 'coffees' %}"><img class="card-img-top blog-thumbnail" src="{% static 'images/coffee.jpg' %}" alt="Card image cap" /></a>
                  <div class="card-body">
                    <p class="card-text small">Find out more about our offerings. We carry several micro-lots in our PNW warehouse and routinely have spot offerings of several different origins.</p>
                  </div>
              </div>
      </div>
          </div>       
    </div>
        <!-- end of news/blog section -->


    <!-- Contact form -->
    <div class="contact-us">
      <h1 class="text-center black-outline"><a href="{% url 'contact' %}">Contact Us</a></h1>
     <div class="container text-white black-outline">
      <div class="row text-center py-3">
        <div class="col-lg-4"><h4>By Phone</h4>
          <h2><strong>425-825-9106</strong></h2>
        </div>
        <div class="col-lg-4"><h4>By Mail</h4>
            <p><strong>13244 Juanita Drive NE</strong><br> Kirkland, Washington<br> 98034</p>
        </div>
        <div class="col-lg-4"><h4>Visit our Contacts Page</h4>
        <a href="{% url 'contact' %}" class="btn btn-primary my-2">Contact Info</a>
        </div>
      </div>
    </div>

    </div>

{% endblock %}