{% extends 'coffee/base.html' %}
{% load staticfiles %}
{% block content %}

      <div class="header-of-site">
        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">San Cristobal Coffee Importers</h1>
            <h4 class="lead text-muted">Exclusive Worldwide Distributor of Internet Traceable Mexican Coffee from <a href="http://www.gtnay.com/"><b>Grupo Terru&ntildeo Nayarita</h4>
            <p>
              <a href="mailto:kirk5davis@gmail.com" class="btn btn-primary my-2">Email us</a>
            </p>
          </div>
        </section>
      </div>

    <!-- end of header home page section -->


    <!-- about us section -->
    <div class="about">
        <h1 class="text-center">About Us</h1>
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="{% static 'images/coffee_bean_outline.png' %}" class="img-fluid">
              </div>
            <div class="col-lg-8 col-md-8 col-sm-12 desc">

              <h3>San Cristobal Coffee Importers</h3>
                 <p>
                     We are a full-service coffee broker and importer specializing in high
                     quality, unique coffees and personal service. We help our roaster customers improve their efficiency
                     by offering the opportunity to outsource their green coffee purchases, inventory management services,
                     and logistics for smooth and trouble-free coffee delivery.
                     Based on quality and sustainability, our strengths are our service and our stable sources of green
                     coffee. We import our own coffee and our strong relationships with other origin brokers and exporters
                     allow us to supply our customers with any coffee they need, when they need it; from one bag to
                     several containers.
                 </p>
                 <p>
                <a href="" class="btn btn-primary my-2">Learn more about us</a>
            </p>
            </div>
          </div>
        </div>
    </div>
    <!-- end of about us section -->


    <!-- our coffees section -->
    <div class="album py-5 bg-light coffee">
      <h1 class="text-center">Our Coffees</h1>
        <div class="container">

          <div class="row">

            {% for coffee in coffees.all %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src='{{ coffee.image.url }}' max-height='200px'/>
                <div class="card-body">
                  <p class="card-text"> {{ coffee.coffee_name }}</p>
                  </div>
                </div>
              </div>

              {% endfor %}

          </div>
        </div>
    </div>
    <!-- end of our coffee section -->

    <!-- blog/new section -->
    <!-- Posts section -->
    <div class="blog">
      <h1 class="text-center">Blogs/News</h1>
        <div class="container">
          <div class="card-deck">
            {% for blog in blogs %}
              <div class="card">
                <img class="card-img-top blog-thumbnail" src="{{blog.image.url}}" alt="Card image cap" />
                  <div class="card-body">
                    <h5 class="card-title"> {{ blog.title }}</h5>
                    <p class="card-text"> {{ blog.summary }}</p>
                  </div>
                <div class="card-footer">
                  <small class="text-muted">{{blog.created_on}}</small>
                </div>
              </div>
              {% endfor %}
          </div>
          
          <p><a href="" class="btn btn-primary my-4">See all news</a></p>
          </div>       
    </div>
        <!-- end of news/blog section -->


    <!-- Contact form -->
    <div class="contact-us">
      <h1 class="text-center">Contact Us</h1>
     <div class="container">
      <form> 
        <div class="row centered-contact-form">
           <div class="form-group">
             <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="">
           </div>
           <div class="form-group">
             <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
           </div>
           <div class="form-group">
             <textarea class="form-control form-control-lg">

             </textarea>
           </div>
           <input type="submit" class="btn btn-primary btn-block" value="Send" name="">
        </div>

      </form>
     </div>
    </div>

</div>
{% endblock %}