{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid sc-gold-bg py-1 mb-3">
		<p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a>  <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> Our Coffees</p>
	</div>


<div class="container">

	<div class="row align-items-center">
	<div class="col-sm-12 text-center">
					<h4 class="sc-red my-4">
					Download our latest coffee offering list:<br>
					<a href="{{ offering_list.pdf_file.url }}" target="_blank" class="btn btn-primary btn-lg my-2"><span><img src="{% static 'images/sc-logos/sc_icon_white_green_very_small.png' %}" style="height: 20px;width: auto"> </span>Offer List</a><br>
					<small>Current as of: <strong class="sc-gold">{{offering_list.date_current}}</strong></small>
					</h4>
					</div>
		<div class="col-sm-12 text-center">
				<h2 class="sc-brown font-weight-bold">- Select Microlot Offerings -</h2>
			</div>
	</div>
	
	<div class="row">
			
			{% for coffee_group in coffees %}
				{% for coffee in coffee_group%}
			<div class="col-sm-6 py-2">
				<div class="square align-items-center shadow-lg" style="background-image:url('{{ coffee.image.url }}');">
						<div class="image-overlay text-center open-sans-text">
								{{coffee.description | safe}}
								<a class="btn btn-primary btn-sm my-2" href="http://trackyourcoffee.com/tracker?entry={{ coffee.bag_tag }}" target="_blank">Learn more about this coffee</a>
							</div>
				</div>
				
			</div>
				{% endfor %}
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="{{ offering_list.pdf_file.url }}" target="_blank" class="btn btn-primary btn-lg mt-3"><span><img src="{% static 'images/sc-logos/sc_icon_white_green_very_small.png' %}" style="height: 20px;width: auto"> </span>Offer List</a><br>
				<small class="pt-0">Current as of: <strong class="sc-red">{{offering_list.date_current}}</strong></small>
			</div>
		</div>
		</div>

<div class="row row-no-margins sc-brown-bg align-items-center py-4 my-4">
			<div data-aos="fade-down" data-aos-duration="1000" class="col-md-4 text-center">
				<img class="ml-3 py-2 figure-img" width="auto" height="300px" src="{% static 'images/other-logos/grupo_terruno_nayarita.jpg' %}"></img>
				<small><figcaption class="text-light figure-caption font-weight-bold py-0">Support Sustainable Agriculture, Support GTNay</figcaption></small>
			</div>
			<div data-aos="fade-up" data-aos-duration="1000"  class="col-md-8 text-left pt-2">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="font-weight-bold sc-gold"> What makes Grupo Terru&ntilde;o Nayarita coffee special? </h2>
					</div>
					<div class="col-lg-12 text-white">
						<ul>
							<li>Direct Payment to Farmers = Direct Trade</li>
							<li>Certified quality analysis from Cafes Sustentables de Mexico</li>
							<li>100% traceable with <a href="www.trackyourcoffee.com" target="_blank">TrackYourCoffee.com</a> w/ scannable bag tags on each bag</li>
							<li>Varying microlot cup profile: fruity/raspberry/stonefruit to creamy chocolate/caramel/cherry</li>
							<li>Grades 1-3 depending on needs (Reserva and Selecta)</li>
						</ul>
					</div>
					<div class="col-lg-12 text-center">
						<a href="{% url 'source-work' %}" class="btn btn-primary sc-red-bg my-2">Find out more on our Source Work page</a>
					</div>
				</div>
			</div>
	</div>
<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
			
			<img class="py-2 rounded img-responsive" height="500px" width="100%" style="object-fit: cover;" src="{% static 'images/coffee_farmers_truck.jpg' %}"></img>
			<h2 class="sc-brown text-center font-weight-bold">Looking for other origins?</h2>
		</div>
		</div>

	<div class="row">
		<div class="col-lg-12 text-center">
			<p class="text-left">
					We have access to several different origins through industry partners. If you have a a specific need outside of our Specialty, Direct-trade Mexican coffees do not hesistate to ask! We'll check availability and get you pricing same day. We routinely have spot offerings of Brazilian, Colombia, Indonesian, and various Centrals.			</p>
				<hr />
					<h4 class="sc-red my-4">
					Download our latest coffee offering list:<br>
					<a href="{{ offering_list.pdf_file.url }}" target="_blank" class="btn btn-primary btn-lg my-2"><span><img src="{% static 'images/sc-logos/sc_icon_white_green_very_small.png' %}" style="height: 20px;width: auto"> </span>Offer List</a><br>
					<small>Current as of: <strong class="sc-gold">{{offering_list.date_current}}</strong></small>
					</h4>
				<hr />
			<p>
				Call, email or fill out our contact form to find out if we have what you're looking for:
			</p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-4"><h4>By Phone</h4>
			<h2><strong>425-825-9106</strong></h2>
		</div>
		<div class="col-lg-4"><h4>By Email</h4>
			<a href="mailto:kennethd@sancristocafe.com" class="btn btn-primary my-2">Email us</a>
		</div>
		<div class="col-lg-4"><h4>Via our Contact Form</h4>
			<a href="{% url 'contact' %}" class="btn btn-primary my-2">Contact Form</a>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12">
			<img class="py-2 rounded figure-img" width="100%" height="auto" src="{% static 'images/cupping_jim.jpg' %}"></img>
			<small><figcaption class="figure-caption">Picture above: Jim cupping some great selections at the source</figcaption></small>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12 py-3">
			<h2><strong>HAPPY CUPPING!</strong></h2>
		</div>
</div>
<br>
{% endblock %}