{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid sc-gold-bg py-1 mb-3">
		<p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a>  <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> Our Coffees</p>
	</div>


<div class="container">
	<h2 class="sc-brown text-center font-weight-bold">Current Offerings:</h2>
	<div class="row">
			
			{% for coffee_group in coffees %}
				{% for coffee in coffee_group%}
			<div class="col-lg-6 py-2">
				<div class="square align-items-center shadow-lg" style="background-image:url('{{ coffee.image.url }}');">
						<div class="image-overlay text-center open-sans-text">
								{{coffee.description | safe}}
								<a class="btn btn-primary btn-sm my-2" href="http://trackyourcoffee.com/tracker?entry={{ coffee.bag_tag }}" target="_blank">Learn more about this coffee</a>
							</div>
				</div>
				
			</div>
				{% endfor %}
			{% endfor %}
		</div>
		</div>
	</div>

<div class="row row-no-margins sc-brown-bg">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 text-center py-4">
						<img class="py-2 rounded img-responsive" height="200px" width="100%" style="object-fit: cover;" src="{% static 'images/coffee_farmers_truck.jpg' %}"></img>
				</div>
				<div class="col-lg-6 text-center py-4">
					<h2 class="text-light">Looking for other origins?</h2>
				</div>
		</div>
		</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<p>
				We have access to several different origins through industry partners. If you have a a specific need outside of our Specialty, Direct-trade Mexican coffees do not hesistate to ask! We'll check availability and get you pricing same day.
			</p>
			<p>
				<h4 class="gold-text">
					<u>We routinely have spot offerings of Brazilian, Colombia, Indonesian, and various Centrals.</u>
				</h4>
			</p>
			<p>
				Call, email or fill out our contact form to find out if we have what you're looking for:
			</p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-4"><h4>By Phone</h4>
			<h2><strong>425-825-9106</strong></h2>
		</div>
		<div class="col-lg-4"><h4>By Email</h4>
			<a href="mailto:kennyd@sancristocafe.com" class="btn btn-primary my-2">Email us</a>
		</div>
		<div class="col-lg-4"><h4>Via our Contact Form</h4>
			<a href="{% url 'contact' %}" class="btn btn-primary my-2">Contact Form</a>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12">
			<img class="py-2 rounded figure-img" width="100%" height="auto" src="{% static 'images/cupping_jim.jpg' %}"></img>
			<small><figcaption class="figure-caption">Picture above: Jim cupping some great selections at the source</figcaption></small>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12 py-3">
			<h2><strong>HAPPY CUPPING!</strong></h2>
		</div>
</div>
<br>
{% endblock %}