{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid sc-gold-bg py-1 mb-3">
		<p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a>  <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> Source Work</p>
</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<figure class="figure">
					<img src="{% static 'images/jim_kosalos.jpg' %}" class="figure-img img-fluid rounded w-100">
					<figcaption class="figure-caption"><small>James in Malinal with Christian Wolther</small></figcaption>
				</figure>
			</div>
			<div class="col-lg-8">
				<div class="btn-group d-flex py-1" role="group">
					<a href="#current-newsletter" class="btn btn-primary w-100">Click here to view our latest newsletter</a>
				</div>
				<p>
					In 1993, James Kosalos, then geophysicist, started working with coffee growers in Nayarit, Mexico.
				</p>
				<p>
					Early on he saw large numbers of small-holder farmers without educational or financial resources to earn
					consistent
					income; a chain of commercialization that favored large producers/corporations. The industry purposefully sought
					to
					keep farmers removed from the final exported product, rewarding hard work with an income disconnected with its
					cost of
					production. This does not lead to sustainability.
				</p>
				<blockquote class="blockquote">
					<p class="mb-0 gold-text"><strong>"Leave everything you touch, better than you found it."</strong></p>
					<footer class="blockquote-footer">George Kosalos' Proverb<cite title="Source Title"> c. 1950's</cite></footer>
				</blockquote>
			</div>
			<div class="col-lg-12">
				<p>
				James theorized that unbiased, science-based process controls would help growers improve their coffee quality and
				consistency, growing away from the commodity market and into the specialty arena. San Cristobal Coffee Importers
				was
				incorporated in 1996 to give market access to the small-holder coffee producers of Nayarit; a huge step towards
				environmental and economic sustainability in the area. Education, equality, and cooperation have guided San
				Cristobal's
				mission, it continues today over 25 years later.
			</p>
			</div>
			<div class="col-lg-12 py-2">
				<img src="{% static 'images/gtnay_flow_pic.jpg' %}" class="img-fluid rounded">
			</div>
			<div class="col-lg-12">
				<p>
					Today, San Cristobal is vertically integrated at source with Grupo Terruno Nayarita, an organized group of coffee
					producing societies across 5 different community. The group is constantly growing, developing economy of scale
					that helps with everything from exportation to bank loans to organic certification.
				</p>
				<p>
					All members carry an equally weighed vote as shareholders, they determine the how/where to invest (ie
					infrastructure), how they want to grow and whether new societies can join, following a probationary year. San
					Cristobal also carries a vote at these meetings.
				</p>
			</div>
			<div class="col-lg-12 text-center">
				<h2 class="gold-text py-2">Coffee Quality Management for Producer Centric Sustainablity</h2>
			</div>
			<div class="col-lg-5">
				<p>
					Cafe Sustentables de Mexico, in Tepic, Nayarit, serves as the administrative arm of Grupo Terruno Nayarita. James
					Kosalos founded CSM in XXXX to close the gap separating coffee producers from their exportable product. They own and
					operate the best dry mill in all of Nayarit.
				</p>
				<p class="dark-text"><strong>CSM serves Grupo Terruno Nayarita with:</strong></p>
				<ul class="list-group list-group-flush">
				<small>
					<li class="list-group-item">Evaluation and producer feedback on daily patio lots (Q-grading/cupping);</li>
					<li class="list-group-item">Maintain export documentation and Fincalab database, linking to <a href="http://www.trackyourcoffee.com" target="_blank" class="gold-text">TrackYourCoffee</a>;</li>
					<li class="list-group-item">Coordinate and host producer meetings and trainings;</li>
					<li class="list-group-item">Provide fiscal management and corporate record;</li>
					<li class="list-group-item">Host Ecotours and visiting roasters/importers;</li>
				</small>
				</ul>
			</div>
			<div class="col-lg-7">
				<div id="carouselExampleIndicators" class="carousel slide py-2" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
						<img class="d-block w-100 img-responsive" src="{% static 'images/group_training1_sized.png' %}" alt="First slide">
						<div class="carousel-caption d-none d-md-block">
							<h5>CSM Group Training</h5>
						</div>
						</div>
						<div class="carousel-item">
						<img class="d-block w-100 img-responsive" src="{% static 'images/group_cupping_sized.png' %}" alt="Second slide">
						<div class="carousel-caption d-none d-md-block">
							<h5>CSM Group Cupping</h5>
						</div>
						</div>
						<div class="carousel-item">
						<img class="d-block w-100 img-responsive" src="{% static 'images/group_training2_sized.png' %}" alt="Third slide">
						<div class="carousel-caption d-none d-md-block">
							<h5>CSM Group Training</h5>
						</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<p class="gold-text py-3 text-center">
					<strong>
					The trust between CSM, Grupo Terruno Nayarita, and San Cristobal is rooted in education, equality, and cooperation.
					</strong>
				</p>
			</div>
			
		</div>
		<div class="row" id='current-newsletter'>
			<div class="col-lg-12 text-center">
				<h2 class="gold-text">Check out our latest newsletter from CSM</h2>
			</div>
			<div class="col-lg-12">
				<p>{{ newsletter.title }}: <small class="text-muted">{{ newsletter.brief_summary }}</small></p>
			</div>
			<div class="col-lg-12" id="pdf_area" style="height:100vh;">
				<table style="z-index:0;">
				<iframe  src="{{ newsletter.file.url }}"  width="100%" height="100%"></iframe>
			</table>
			</div>
			<div class="col-lg-12 text-center">
				<small>Can't see the Newletter? Are you using Internet Explorer? If so, install <a href='https://get.adobe.com/reader/'>Adobe Reader</a> or download the latest newletter <a href="{{ newsletter.file.url }}" target="_blank">here!</a></small>
			</div>
		</div>
		<br>
		<div class="btn-group d-flex" role="group">
			<a href="{% url 'archives' %}" class="btn btn-primary w-100">View past newsletters and docs</a>
		</div>

	</div>

<br>
{% endblock %}