{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid sc-gold-bg py-1 mb-3">
    <p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a>  <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> <a href="{% url 'source-work' %}" class="sc-blue font-weight-bold"> Source Work </a> <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> Ethiopia </p>
</div>

<div class="container">
    <div class="row p-2">
        <div class="text-center">
        <h3 class="font-weight-bold">San Cristobal Coffee Importer now works closely with Asikana Coffee. More information to come soon. </h3>
        <a href="https://www.asikanacoffee.com/" target="_blank"><img src="{% static 'images/other-logos/asikana.webp' %}"></a>
    </div>
    </div>
</div>
{% endblock %}