{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid sc-gold-bg py-1 mb-3">
    <p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a>  <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> <a href="{% url 'source-work' %}" class="sc-blue font-weight-bold"> Source Work </a> <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> Ethiopia </p>
</div>

<div class="container">
    <div class="row p-2">
        <div class="col-md-4 text-center">
            <figure class="figure w-75">
                <img src="{% static 'images/ethiopia_abdi_jim_march2014.jpg' %}" class="figure-img img-fluid rounded" alt="Abdi and Jim in Mexico March 2014">
                <small>
                    <figcaption class="figure-caption">Abdi and James Kosalos in Mexcaltitán in March, 2014</figcaption>
                </small>
            </figure>
            <figure class="figure w-75">
                <img src="{% static 'images/cupping_abdi.jpg' %}" class="figure-img img-fluid rounded" alt="Abdi in the CAFESUMEX cupping lab.">
                <small>
                    <figcaption class="figure-caption">Abdi Abdi at the <a href="https://cafesumex.com" target="_blank">CAFESUMEX</a> cupping lab in Tepic, Nayarit, Mexico</figcaption>
                </small>
            </figure>
            <img class="img-fluid rounded w-75" src="" />
            <img class="img-fluid rounded w-75" src="" />
            <!-- 
            <img class="img-fluid rounded" src="{% static 'images/mengistu_sharing_photos_rustico_wetmill_2019.jpg' %}" />
            <img class="img-fluid rounded" src="{% static 'images/ethiopia_qa_qc.jpg' %}" />
            <img class="img-fluid rounded" src="{% static 'images/asikana_bag_tag.jpg' %}" /> -->
        </div>
        <div class="col-md-8">
            <h3 class="font-weight-bold text-center">It began with an internship.</h3>
            <br>
            <p>It all began when Abdi visited Jim in Nayarit...</p>
            <p>
                Abdi is an Organic Inspector with <a href="https://www.linkedin.com/company/yeti-agroforestry/" target="_blank">Yeti Agro-Forestry PLC</a> in Nekemte, Ethiopia. He traveled to Mexico for an internship
                with CAFESUMEX during the coffee harvest in 2014.
            </p>
            <br>
            <h5 class="font-weight-bold text-center py-2">
                Abdi's internship paved the way for Jim's bottom-up approach to expand from Mexico to Ethiopia.
            </h5>
            <figure class="figure">
                <img src="{% static 'images/ethiopia_samson_yeti_forestry.jpg' %}" class="figure-img img-fluid rounded" alt="Samson of Yeti Forestry.">
                <small>
                    <figcaption class="figure-caption">
                        Samson, the owner of Yeti Forestry in Ethiopia, also visited Nayarit in 2014. Pictured here near Compostela. He had initally connected with Jim through CQI (the Coffee Quality Institute) 
                    </figcaption>
                </small>
            </figure>
            <img class="img-fluid rounded" src="" />
        </div> 
    </div>

    <div class="row align-items-center p-2">
        <div class="col-lg-12">
            <h3 class="text-center py-2">Ethiopia and Mexico, the 5th and 9th largest producers of coffee respectively</h3>
            <img class="img-fluid w-100 rounded" src="{% static 'images/ethiopia_mexico_locator.png' %}" />
        </div>
    </div>

    <div class="row p-4">
        <div class="col-lg-12">
            <p>
                In 2018, Abdi was consulting a new group of producers in the West Welega Zone of Ethiopia. The group was called <i>Asikana</i>,
                meaning <i>“we start from here”</i> in the Oromo language.
            </p>
        </div>
    </div>

    <div class="row p-4">
        <div class="col-md-6 text-center">
            <a href="https://nationalzoo.si.edu/migratory-birds/certified-coffee-farms/asikana-international-trading-plc-buri-coffee-farm" target="_blank"><img class="img-fluid rounded" width="100px" src="{% static 'images/other-logos/bird_friendly_cert_logo.png' %}" /></a>
        </div>
        <div class="col-md-6 text-center">
            <a href="https://www.asikanacoffee.com/" target="_blank"><img class="img-fluid rounded" src="{% static 'images/other-logos/asikana_logo.png' %}" /></a>
        </div>
    </div>

    <div class="row p-4">
        <div class="col-lg-12">
            <p>
                Asikana was working to achieve an organic and Bird Friendly certification, but they needed to improve their coffee
                quality management techniques in order to achieve market access and maximize income for their farmer members.
            </p>
            <p>
                Abdi suggested to Asikana that they connect to Jim to learn about our FincaLab® standards and track record of success in Mexico. 
            </p>
            <br>
            <h3 class="font-weight-bold text-center">In 2019, Asikana sent an intern named Mengistu to Nayarit.</h3>
            <br>
            <p>
                Mengistu was an intern with us for five months. The purpose of his internship was to take quality control knowledge
                back to Ethiopia to improve the efficiency and quality of Asikana's harvest.
            </p>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-6">
            <figure class="figure">
                <img src="{% static 'images/mengistu_el_duende_drymill_2019.jpg' %}" class="figure-img img-fluid rounded" alt="Mengistu holding a sisal bag.">
                <small>
                    <figcaption class="figure-caption">
                        Mengistu holds up a sisal bag with a GrainPro liner while working in the El Duende Dry Mill in 2019.
                    </figcaption>
                </small>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="figure">
                <img src="{% static 'images/mengistu_rustico_wetmill_2019.jpg' %}" class="figure-img img-fluid rounded" alt="Mengistu holding a sisal bag.">
                <small>
                    <figcaption class="figure-caption">
                        Mengistu inspects drying parchment at the Rustico Wet Mill in El Cuarenteño, Nayarit in 2019.
                    </figcaption>
                </small>
            </figure>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-lg-12">
            <h5 class="font-weight-bold text-center py-4">
                Mengistu worked with James Kosalos and CAFESUMEX staff to translate FincaLab® QMS materials into Oromo (the language of Oromia)
            </h5>
            <img class="img-fluid rounded w-100" src="{% static 'images/fincalab_translation_oromo.jpg' %}" />
        </div>
    </div>

    <div class="row px-2 py-4 align-items-center">
        <div class="col-md-6">
            <p>Mengistu returned to Ethiopia after his internship and installed a FincaLab® cupping lab in the town of Aira.</p>
            <p>In 2020 San Cristobal bought their first container from Asikana. It was the first container ever exported from Ethiopia with fully traceable bar code bag tags with serial numbers. </p>
            <p>There was even an article about it featured in <a href="https://dailycoffeenews.com/2021/02/17/a-transcontinental-internship-expands-seattle-importers-qms-from-mexico-to-ethiopia/" target="_blank">Roast Magazine!</a></p>
        </div>
        <div class="col-md-6">
            <figure class="figure">
                <img src="{% static 'images/mengistu_sharing_photos_rustico_wetmill_2019.jpg' %}" class="figure-img img-fluid rounded" alt="Mengistu sharing photos.">
                <small>
                    <figcaption class="figure-caption">
                        Photo of Mengistu, while a harvest intern in Mexico, sharing photos of Ethiopian coffee production with children of producers and workers at the Rustico Wet Mill in El Cuarenteño, Nayarit.
                    </figcaption>
                </small>
            </figure>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-6 text-center">
            <img class="img-fluid rounded" src="{% static 'images/ethiopia_qa_qc.jpg' %}" />
        </div>
        <div class="col-md-6 text-center">
            <img class="img-fluid rounded" src="{% static 'images/asikana_bag_tag.jpg' %}" />
        </div>
    </div>

    <div class="row px-2 py-4">
        <div class="col-lg-12">
            <h3 class="font-weight-bold text-center">
                We continue to import Asikana’s coffee from the West Welega Zone of Ethiopia every year.
                Let us know if you want to taste a sample!
            </h3>
        </div>
    </div>

    <div class="row align-items-center">
		<div class="col-sm-12 text-center">
			<h3 class="sc-red my-4">
				<a href="{{ offering_list.pdf_file.url }}" target="_blank"
					class="btn btn-primary btn-lg my-2"><span><img
							src="{% static 'images/sc-logos/sc_icon_white_green_very_small.png' %}"
							style="height: 20px;width: auto"> </span>Offer List</a><br>
				<small>Current as of: <strong class="sc-gold">{{offering_list.date_current}}</strong></small>
			</h3>
		</div>
	</div>

</div>
{% endblock %}