{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid sc-gold-bg py-1 mb-3">
		<p class="small my-1 sc-blue font-weight-bold"><img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /><a href="{% url 'home' %}" class="sc-blue font-weight-bold">Home</a>  <img src="{% static 'images/sc-logos/sc_icon_leaf.png' %}" class="breadcrumb-bean" /> Source Work</p>
</div>
	<div class="container">
		<div class="row p-2">
			<div class="col-md-6 text-center">
				<a href="{% url 'mexico' %}"><img class="card-hover img-fluid rounded w-100" src="{% static 'images/source_work_mexico.jpg' %}"></a>
				<h3 class="pt-1"><a href="{% url 'mexico' %}">Mexico</a></h3>
			</div>
			<div class="col-md-6 text-center">
				<a href="{% url 'ethiopia' %}"><img class="card-hover img-fluid rounded w-100 src-work-img" src="{% static 'images/source_work_ethiopia.jpg' %}"></a>
				<h3 class="pt-1"><a href="{% url 'ethiopia' %}">Ethiopia</a></h3>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-12">
				<h2 class="sc-brown font-weight-bold text-center">THE MISSION</h2>
				<p>
					In 1993, James Kosalos, founder of San Cristobal, began his specialty coffee journey. Early on he saw large numbers of
					small-holder farmers without educational or financial resources to earn consistent income; a chain of commercialization
					that favored large producers/corporations whose focus had nothing to do with sustainability.
				</p>
				<p>
					To break this cycle, he started working directly at the source to engage producers, improve quality, promote efficiency,
					and reward the hard work that it takes to produce coffee. James' brought his technical expertise from a 20+ year career
					as a geophysicist and deeply rooted values in forest and natural resource conservation to change the industry from the
					bottom up.
				</p>
				<div class="text-center">
				<blockquote class="blockquote">
					<p class="mb-0 gold-text"><strong>"Leave everything you touch, better than you found it."</strong></p>
					<footer class="blockquote-footer">George Kosalos' Proverb<cite title="Source Title"> c. 1950's</cite></footer>
				</blockquote>
				<img src="{% static 'images/jim_kosalos.jpg' %}" class="figure-img img-fluid rounded w-50">
					<figcaption class="figure-caption pb-0"><small>James Kosalos and his infamous <em>El Bocho Rojo</em></small></figcaption>	
					</div>
					<hr>
			</div>
			
			</div>
		<div class="row pt-4" id='current-newsletter'>
			<div class="col-lg-12 text-center">
				<h2 class="sc-brown text-center font-weight-bold">Check out our latest newsletter from GTNay</h2>
			</div>
			<div class="col-lg-12">
				<p>{{ newsletter.title }}: <small class="text-muted">{{ newsletter.brief_summary }}</small></p>
			</div>
			<div class="col-lg-12" id="pdf_area" style="height:100vh;">
				<table style="z-index:0;">
				<iframe  src="{{ newsletter.file.url }}"  width="100%" height="100%"></iframe>
			</table>
			</div>
			<div class="col-lg-12 text-center">
				<small>Can't see the Newletter? Are you using Internet Explorer? If so, install <a href='https://get.adobe.com/reader/'>Adobe Reader</a> or download the latest newletter <a href="{{ newsletter.file.url }}" target="_blank">here!</a></small>
			</div>
		</div>
		<br>
		<div class="btn-group d-flex" role="group">
			<a href="{% url 'archives' %}" class="btn btn-primary w-100">View past newsletters and docs</a>
		</div>

	</div>

<br>
{% endblock %}