{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="source-work">
<div class="container">
	<h1 class="text-center pt-3">Source Work</h1>
	<hr />
	<h3><a href="{% url 'home' %}" class="yellow-hyperlink">Home</a>  <img src="{% static 'images/coffee_bean_outline_light_gray.png' %}" class="breadcrumb-bean" />  Source Work</h3>
	<hr />

	<div class="row">
		<h5>{{ newsletter.title }}:  &nbsp</h5><h5 class="text-muted">  {{ newsletter.brief_summary }}</h5>
		<div class="col-lg-12" id="pdf_area" style="height:100vh;">
        	<script>PDFObject.embed("{{ newsletter.file.url }}", "#pdf_area");</script>
		</div>
    </div>
	<br>
	<div class="btn-group d-flex" role="group">
            <a href="{% url 'archives' %}" class="btn btn-primary w-100">View past newsletters and docs</a>
	</div>

	</div>

</div>
</div>
<br>
{% endblock %}