{% extends 'coffee/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="container">
		<h1 class="text-center pt-3">Traceability</h1>
		<hr class="mb-0"/>
		<p class="small my-1" style="margin-bottom: 0rem;"><a href="{% url 'home' %}" class="yellow-hyperlink">Home</a> <img src="{% static 'images/coffee_bean_outline_light_gray.png' %}"
			 class="breadcrumb-bean" /> Traceability</p>
		<hr class="mt-0 mb-2"/>
	</div>
		<div class="row row-no-margins dark-background align-items-center">
				<div class="col-md-1 text-center">
					<img class="ml-3 py-2" width="auto" height="200px" src="{% static 'images/grupo_terruno_nayarita.jpg' %}"></img>
				</div>
				<div class="col-md-11  text-center">
					<h1 class="text-white py-2" style="font-size: 4vw;">All coffees from <a href="http://www.gtnay.com/"><strong>Grupo Terru&ntildeo Nayarita</strong></a> have been 100% traceable since 2006.</h1>
				</div>
		</div>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-lg-7">
					<h5 class="gold-text"><strong>ALL</strong> of our coffees contain barcoded bag tags, sewn in at origin, furnished with QR Codes that are linked to our <strong><a href="http://trackyourcoffee.com">TrackYourCoffee</a></strong> website where you will find all microlot information, including but not limited to:</h5>
					<ul class="list-group list-group-flush list-group-active">
						<small>
						<li class="list-group-item list-group-item-action">Country of Origin</li>
						<li class="list-group-item list-group-item-action">Community of Origin</li>
						<li class="list-group-item list-group-item-action">Producing Organization</li>
						<li class="list-group-item list-group-item-action">Dry Mill</li>
						<li class="list-group-item list-group-item-action">Wet Mill(s)</li>
						<li class="list-group-item list-group-item-action">Type/Name of Coffee</li>
						<li class="list-group-item list-group-item-action">Any Certificates (including organic)</li>
						<li class="list-group-item list-group-item-action">Grading Aspect</li>
						<li class="list-group-item list-group-item-action">Cup Characteristics</li>
						<li class="list-group-item list-group-item-action">Blend Information (if applicable)</li>
						</small>
					</ul>
			</div>
			<div class="col-lg-5">
					<a href="http://trackyourcoffee.com/tracker?entry=GTN4103056"><img src="{% static 'images/bagtag_traceability.jpg' %}" class="img-responsive rounded w-100 figure-img"></a>
					<figcaption class="figure-caption">Click on the picture above to see the TrackYourCoffee results for this barcode in this picture</figcaption>
			</div>
		</div>
		<br>
		<div class="row py-3">
			<div class="col-lg-12">
				<img src="{% static 'images/bar_code_3.gif' %}" class="img-responsive rounded w-100 figure-img">
			</div>
			<div class="col-lg-12">	
				<hr />
				<h2 class="gold-text text-center">Full Traceability - how?</h2>
				<p>
					It begins at cherry reception. Each GTN farmer is required to report which parcella(s) they were
					harvesting when delivering ripe fruit to the wet mills and natural process drying patios. The
					cherries are evaluated and weighed by a trained GTN reception worker, not the farmer. The
					data collected is stored in our <a href="http://fincalab.com/" target="_blank">Fincalab cloud-based software</a>, creating a transactional receipt
					for each farmer.
				</p>
				<p>
					Daily lots are grouped by the producing cooperatives and after drying they are evaluated,
					cupped and graded, individually by CSM. These results are stored in Fincalab compounding the
					initial data collected at reception. From there patio lots can be selected for various
					characteristics (cup score, community, flavor profile, grade, etc) and milled for export. Every
					step along the way fully traceable with a receipt, digital and paper, to back it up.
				</p>
				<p>
					Implementing process controls and procedures at each step of coffee’s journey from picking to
					export was a concerted effort to improve quality, consistency, and efficiency; traceability fell
					out of the data.
				</p>
				<h3 class="text-center">-- Traceability is the <strong class="gold-text">RESULT</strong> of Process Controls --</h3>
			</div>
		</div>
	</div>
	<div class="row row-no-margins dark-background">
		<div class="container">
			<div class="row align-items-center">
			<div class="col-lg-5 text-center">
				<img class="py-2 rounded img-responsive" height="auto" width="100%" src="{% static 'images/cherry_reception_weighing.jpg' %}"></img>
			</div>
			<div class="col-lg-2  text-center">
				<p class="text-white"></p>
			</div>
			<div class="col-lg-5  text-center">
				<img class="py-2 rounded img-responsive" height="auto" width="100%" src="{% static 'images/cherry_processing_pantano.jpg' %}"></img>
			</div>
		</div>
		</div>
	</div>
	<br>
	<div class="container">
			<div class="row">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-10 text-center">
					<h3>Visit <strong><a href="http://trackyourcoffee.com">TrackYourCoffee.com</a></strong> to learn more about your microlot from <a href="http://www.gtnay.com/"><strong>Grupo Terru&ntildeo Nayarita!</strong></a></h3>
				</div>
				<div class="col-lg-1">
				</div>
		</div>
	</div>




<br>
{% endblock %}