html{
  position: relative;
  height: 100%;

}

body{
  font-family: 'Roboto Slab', serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1{
font-family: 'Raleway', sans-serif;
font-weight:bold;
 color:#ad7b00;
 margin: 0.5em;
}

.site-content{
    flex: 1;
}

.footer{
}

.footer p{
  color: #ffffff;
  display: flex;
   justify-content: center;
   align-items: center;
}



.badge{
  display:inline-table;
}

.navbar{
 background:#F97300;
}

.navbar-left img{
    height:30px;
    width:auto;
}


.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
 margin: auto;
}
.nav-link{
 margin-right: 1em !important;
}
.navbar-brand:hover{
 font-weight:bold;
}

#nav-icon {
padding-right:3px;
padding-top: 3px;
display:inline-block;
height=auto;
width=auto;
}

.navbar-collapse{
 justify-content: flex-end;
}
.navbar-collapse{
 justify-content: flex-end;
}

/*header style*/
.header-of-site{
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 background-image: linear-gradient(to bottom,rgba(244, 244, 244, 0.75) 0%,rgba(244, 244, 244, 0.75) 100%), url('/static/images/coffee_cherries.jpg');
 justify-content:center;
 align-items:center;
 display:flex;
}

.jumbotron{
background-color: rgba(255,255,255,.0);
}

.jumbotron h1{
  font-size: 8vw;
  color:#343a40;
}


.description h1{
 color: #343a40;
 font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size: 5em;
    text-align: center;
}

.header-of-site h4 a{
color:#ad7b00;
font-weight:bold;
}
.description h3{
 color: #343a40;
 text-align: center;
}

.description p{
 color:#666;
 font-size: 20px;
 line-height: 1.5;
 width: 75%;
 text-align: center;
}

.motto{
   color:#ad7b00;
    font-weight:bold;
}

.btn-primary{
background: #343a40;
color: #fff;
border-color: #343a40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
background-color: #ad7b00;
border-color: #e09f00;
}

/*about us style*/
.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#ad7b00;
 font-weight:bold;
}

.about img{
    height: inherit;
    width: auto;
    border-radius: 50%
}

.about .desc{
 padding: 1em;
 border-left:4px solid #ad7b00;
}

.about .desc h3{
 color: #343a40;
}
.about .desc p{
 line-height:1.5;
 color:#888;
}

.about-us{
}

.about-us h3 a{
color:#ad7b00;
}

.accordian-headers{
   color: #ffffff;
}

.accordian-headers:hover, .accordian-headers:active, .accordian-headers.active {
font-weight: bold;
}

.nounderline{
  text-decoration: none !important;
}

.card-header-color{
 background-color: #343a40;
}

.about-us h2{
  color:#ad7b00;
  font-weight: bold;
}

/*Portfolio*/
.coffee{
 background-image: url('/static/images/green_coffee.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 margin: 4em 0;
 position: relative;
  padding: 1em;
 background-image: linear-gradient(to bottom,rgba(244, 244, 244, 0.75) 0%,rgba(244, 244, 244, 0.75) 100%), url('/static/images/green_coffee.jpg');
}

.coffee .coffee_imgs{
    justify-content:center;
    align-items:center;
    display: flex;
}

.coffee h1{
 color:#ad7b00;
 margin: 1em;
 font-weight:bold;
}
.coffee img{
  height: 15rem;
  width: auto;
  margin: 1em;
  box-shadow: 0 0 40px #fff;
}

/*blog and news section*/

.card{
 box-shadow: 0 0 20px #ccc;
}

.blog{
 position: relative;
}

.blog h1{
 color:#ad7b00;
 font-weight:bold;
}

.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: auto;
 height: 12em;
 align:center;
}

.blog-thumbnail{
  object-fit: scale-down;
  width: auto;
  height: 100px;
  margin: 1em;
  border-radius: 15px;
}

.blog-detail-img{
  max-width: inherit;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.blog .card-title{
 color:#ad7b00;
}

.blog .card-body{
 padding: 1em;
 color:#888;
}

.blog .card_link{
    color:#ad7b00;
}

.blog .button-col{
   display: flex;
   justify-content: center;
   align-items: center;
}

.blog-date{
display: inline;
text-align: right;
 width: 140px;
}

.blog p{
display: flex;
justify-content: center;
}

.blog h5 a{
color:#ad7b00;
font-weight:bold;
}

.blog h3 a{
color:#ad7b00;
}

.blog-button{
  display: inline-flex;
  justify-content: space-between;
}

.contact-us{
 background-image: url('/static/images/coffee_warehouse.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 position: relative;
  padding: 1em;
 background-image: linear-gradient(to bottom,rgba(244, 244, 244, 0.75) 0%,rgba(244, 244, 244, 0.75) 100%), url('/static/images/coffee_warehouse.jpg');
 height:100%;
}

.contact-us h1{
 color:#ad7b00;
 margin: 1em;
 font-weight:bold;
}

.contact-page h3 a{
 color: #ad7b00;
}

.yellow-hyperlink{
   color: #ad7b00;
}

.contact-us form{
 margin:  auto;
 max-width: 500px;
 display: flex;
   justify-content: center;
   align-items: center;
}

.centered-contact-form{
  display: block;
  width:100%;
}

.breadcrumb-bean{
  height: 20px;
  width:auto;
}